/XMLparser/nbproject/private/
/XMLparser/build/
/Cursval/nbproject/private/
/Cursval/build/
/Cursval/dist/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/WebApplication2/nbproject/private/
/WebApplication2/build/
/WebApplication2/dist/
/WebApplication3/nbproject/private/
/WebApplication3/build/
/test/nbproject/private/
/test/build/
/WebApplication3/dist/