<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>webapp3.UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAddServlet</servlet-name>
        <servlet-class>webapp3.UserAddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDelServlet</servlet-name>
        <servlet-class>webapp3.UserDelServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserEditServlet</servlet-name>
        <servlet-class>webapp3.UserEditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAddServlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDelServlet</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserEditServlet</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
